services:
  api:
    build:
      context: https://github.com/taneltorn/folkera.git#${BRANCH}:api
      additional_contexts:
        - root=./
    container_name: folkera-api
    ports:
      - "3000:3000"
    restart: always
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - ALLOWED_ORIGIN=${ALLOWED_ORIGIN}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - LOG_LEVEL=${LOG_LEVEL}
      - PYTHON_PATH=${PYTHON_PATH}
      - VITE_PUBLIC_URL=${VITE_PUBLIC_URL}
      - VITE_RECORDINGS_DIR=${VITE_RECORDINGS_DIR}
      - COVERHUNTER_ROOT_DIR=${COVERHUNTER_ROOT_DIR}
      - CSV_DATA_DIR=${CSV_DATA_DIR}
    volumes:
      - /opt/folkera/mp3:/app/mp3
      - /opt/folkera/csv-data:/app/csv-data
    depends_on:
      - database
    networks:
      - folkera-network

  ui:
    build:
      context: https://github.com/taneltorn/folkera.git#${BRANCH}:ui
      additional_contexts:
        - root=./
      args:
        - VITE_API_URL=${VITE_API_URL}
        - VITE_PUBLIC_URL=${VITE_PUBLIC_URL}
        - VITE_RECORDINGS_DIR=${VITE_RECORDINGS_DIR}
    container_name: folkera-ui
    ports:
      - "80:80"
      - "443:443"
    restart: always
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - VITE_PUBLIC_URL=${VITE_PUBLIC_URL}
      - VITE_RECORDINGS_DIR=${VITE_RECORDINGS_DIR}
      - VITE_CONTACT_EMAIL=${VITE_CONTACT_EMAIL}
    depends_on:
      - api
    networks:
      - folkera-network

  database:
    image: postgres:16
    container_name: folkera-database
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./database/scripts/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
      - ./database/scripts/insert-data.sql:/docker-entrypoint-initdb.d/insert-data.sql
    restart: always
    networks:
      - folkera-network:

volumes:
  postgres-data:

networks:
  folkera-network: