body,
#header {
  //margin-left: auto;
  //margin-right: auto;
  //max-width: 1400px;
}

button[disabled] {
  background: none;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: var(--mantine-primary-color-7)
  }
}

.hover-pointer:hover {
  cursor: pointer;
}

.rhap_container {
  box-shadow: none !important;
  padding: 0 !important;

  .rhap_controls-section {
    //max-width: 50px !important;
  }

  .rhap_footer {
    //text-align: end;
  }
}

.parish-label {
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: red;
  border-radius: 3px;
  padding: 2px;
  opacity: 0.7;
}

.leaflet-tooltip.parish-label {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding: 0;
  opacity: 1; /* Make the text fully opaque */
}

.mantine-MultiSelect-pill {
  display: none;
}

.active-input {
  .mantine-Input-input,
  .mantine-MultiSelect-input {
    border-color: var(--mantine-color-red-9) !important;
  }

  ::placeholder {
    color: var(--mantine-color-red-9) !important;
    opacity: 1;
  }

  ::-ms-input-placeholder {
    color: var(--mantine-color-red-9) !important;
  }
}


.notation-gallery {
  .image-gallery-bullets-container .image-gallery-bullet:hover {
    background: var(--mantine-color-red-9) !important;
    border-color: var(--mantine-color-red-9) !important;
  }

  .image-gallery-fullscreen-button:active .image-gallery-svg {
    background: white;
  }

  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg,
  .image-gallery-fullscreen-button .image-gallery-svg {
    color: white;
    transition: color 0.2s ease;
  }

  .image-gallery-left-nav:hover .image-gallery-svg,
  .image-gallery-right-nav:hover .image-gallery-svg,
  .image-gallery-fullscreen-button:hover .image-gallery-svg,
  .image-gallery-bullets-inner .image-gallery-svg {
    color: var(--mantine-color-red-9) !important;
  }

  .image-gallery-left-nav:focus .image-gallery-svg,
  .image-gallery-right-nav:focus .image-gallery-svg,
  .image-gallery-fullscreen-button:focus .image-gallery-svg,
  .image-gallery-left-nav:active .image-gallery-svg,
  .image-gallery-right-nav:active .image-gallery-svg,
  .image-gallery-fullscreen-button:active .image-gallery-svg {
    color: white;
  }
}

/* AudioPlayerStyles.css */

.rhap_controls-section {
  margin: 0 !important;
}

.rhap_additional-controls {
  justify-content: center !important;
}

.rhap_time {
  //font-size: 10px !important;
}

.rhap_progress-section {
}

.rhap_container:not(.transparent) .rhap_main {
  background-color: var(--mantine-color-gray-1) !important;
}

.rhap_main-controls-button svg {
  color: var(--mantine-color-red-9) !important;
}

.rhap_progress-filled,
.rhap_progress-indicator {
  background-color: var(--mantine-color-red-9) !important;
}
