body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
}

h1, h2, h3 {
  font-weight: 700;
  letter-spacing: -0.03em;
}

button[disabled] {
  background: none;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: var(--mantine-primary-color-7)
  }
}

table {
  thead {
    border-bottom: 1px solid var(--mantine-color-gray-1);
  }

  td {
    border-left: none !important;
  }
}

.hover-pointer:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-child, {
  visibility: hidden;
}

.hover-parent:hover .hover-child {
  visibility: visible;
}



.parish-label {
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: red;
  border-radius: 3px;
  padding: 2px;
  opacity: 0.7;
}

.search-input {
  width: 150px;
  transition: width 200ms ease;
}

#search-input-focused {
  border: 2px solid var(--mantine-primary-color-9) !important;
}


.mantine-MultiSelect-pill {
  display: none;
}

.mantine-MultiSelect-input {
  background: var(--mantine-color-gray-1);
  box-shadow: none;
  font-weight: 500;

}

.mantine-MultiSelect-input,
.mantine-PasswordInput-input:focus,
.mantine-Input-input:focus {
  border-color: var(--mantine-color-gray-1) !important;
}


.notation-gallery {
  .image-gallery-bullets-container .image-gallery-bullet:hover {
    background: var(--mantine-primary-color-9) !important;
    border-color: var(--mantine-primary-color-9) !important;
  }

  .image-gallery-fullscreen-button:active .image-gallery-svg {
    background: white;
  }

  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg,
  .image-gallery-fullscreen-button .image-gallery-svg {
    color: white;
    transition: color 0.2s ease;
  }

  .image-gallery-left-nav:hover .image-gallery-svg,
  .image-gallery-right-nav:hover .image-gallery-svg,
  .image-gallery-fullscreen-button:hover .image-gallery-svg,
  .image-gallery-bullets-inner .image-gallery-svg {
    color: var(--mantine-primary-color-9) !important;
  }

  .image-gallery-left-nav:focus .image-gallery-svg,
  .image-gallery-right-nav:focus .image-gallery-svg,
  .image-gallery-fullscreen-button:focus .image-gallery-svg,
  .image-gallery-left-nav:active .image-gallery-svg,
  .image-gallery-right-nav:active .image-gallery-svg,
  .image-gallery-fullscreen-button:active .image-gallery-svg {
    color: white;
  }
}


.leaflet-tooltip.parish-label {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding: 0;
  opacity: 1;
}



.rhap_container {
  box-shadow: none !important;
  padding: 0 !important;
}

.rhap_controls-section {
  margin: 0 !important;
}

.rhap_additional-controls {
  justify-content: center !important;
}

.rhap_container:not(.transparent) .rhap_main {
  background-color: var(--mantine-color-gray-1) !important;
}

.rhap_main-controls-button svg {
  color: var(--mantine-primary-color-9) !important;
}

.looping-player {
  .rhap_progress-filled {
    background-color: var(--mantine-color-gray-2) !important;
  }

  .rhap_download-progress {
    background-color: var(--mantine-color-gray-2) !important;

  }

  .rhap_progress-indicator {
    background-color: var(--mantine-color-yellow-9) !important;
  }
}

.rhap_progress-filled,
.rhap_progress-indicator {
  background-color: var(--mantine-primary-color-9) !important;
}

.looping-player {
  .rhap_progress-container,
  .rhap_progress-bar {
    position: relative;
  }

  .rhap_progress-filled,
  .rhap_download-progress {
    background-color: var(--mantine-color-gray-2) !important;
  }

  .rhap_progress-bar::after {
    content: "";
    position: absolute;
    left: var(--loop-left);
    width: var(--loop-width);
    top: 0;
    height: 100%;
    background-color: var(--mantine-color-yellow-9);
    border-radius: inherit;
    z-index: 10;
    pointer-events: none;
  }

  .rhap_progress-indicator {
    background-color: var(--mantine-color-yellow-9) !important;
    z-index: 20;
  }
}

